@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* SyncXel Brand Colors (Logo Matrix) */
  --color-syncxel-dark: #0b0d13;
  /* --color-syncxel-dark: #191b1f; */
  --color-syncxel-card: #161b26;
  --color-syncxel-border: #2a324b;
  --color-syncxel-blue: #3a86ff;
  --color-syncxel-cyan: #56cfe1;
  --color-syncxel-mint: #70e4c8;
  --color-syncxel-text-muted: #999da3;

  /* Brand Custom Gradients */
  --background-image-syncxel-gradient: linear-gradient(
    135deg,
    #3a86ff 0%,
    #56cfe1 50%,
    #70e4c8 100%
  );

  --font-exo: "Exo", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
}

* {
  scroll-behavior: smooth;
  scroll-margin-top: 1rem;
}

/* Base Body Font */
body {
  font-family: var(--font-baloo);
  background-color: var(--color-syncxel-dark);
  color: #ffffff;
}

/* 3. Dark Theme Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #56cfe1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}


/* Headings Custom Font */
h1,
h2,
h3,
h4,
.font-heading {
  font-family: var(--font-exo);
}
